{% extends "layouts/master.twig" %}

{% block title %}All Vessels{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Table</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>IMO</th>
                </tr>
                {% for vessel in vessels %}
                    <tr>
                        <td>{{ vessel['name'] }}</td>
                        <td>{{ vessel['imo'] }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div><!-- /.box -->


{% endblock %}
