{% extends "layouts/master.twig" %}

{% block title %}All Companies{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Table</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Managed By</th>
                </tr>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.companies_name }}</td>
                        <td>{{ company.users_email }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div><!-- /.box-body -->

        <div class="box-footer clearfix">
            {{ paginate|raw }}
        </div>
    </div><!-- /.box -->


{% endblock %}
