{% extends "layouts/master.twig" %}

{% block title %}All Vessel Types{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Table</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                </tr>
                {% for type in types %}
                    <tr>
                        <td>{{ type.types_name }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->


{% endblock %}
